<!-- 
<div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel"></div>


<div class="controls-top">
  <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="prev"><i
      class="fas fa-chevron-left"></i></a>
  <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="next"><i
      class="fas fa-chevron-right"></i></a>
</div>



<ol class="carousel-indicators">
  <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
  <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
  <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li>
</ol>




<div class="carousel-inner mdb-lightbox" role="listbox">
  <div id="mdb-lightbox-ui"></div>
 
  <div class=" carousel-item active text-center">

    <figure class="col-md-4 d-md-inline-block">
      
      <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(2).jpg"
        data-size="1600x1067" routerLink="ct">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(2).jpg"
          class="img-fluid">
          <h5 class="card-title">t-shorts</h5>
      </a>
      
    </figure>

    <figure class="col-md-4 d-md-inline-block">
      <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(4).jpg"
        data-size="1600x1067" routerLink="ct">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(4).jpg"
          class="img-fluid" >
          <h5 class="card-title">formals</h5>
      </a>
    </figure>

    <figure class="col-md-4 d-md-inline-block">
      <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(6).jpg"
        data-size="1600x1067" routerLink="ct">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(6).jpg"
          class="img-fluid">
          <h5 class="card-title">jeens</h5>
      </a>
    </figure>

    <figure class="col-md-4 d-md-inline-block">
      <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(10).jpg"
        data-size="1600x1067" routerLink="ct">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(10).jpg"
          class="img-fluid">
          <h5 class="card-title">shoes</h5>
      </a>
    </figure>
    <figure class="col-md-4 d-md-inline-block">
      <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(12).jpg"
        data-size="1600x1067" routerLink="ct">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(12).jpg"
          class="img-fluid">
          <h5 class="card-title">glasses</h5>
      </a>
    </figure>
    <figure class="col-md-4 d-md-inline-block">
      <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(14).jpg"
        data-size="1600x1067" routerLink="ct">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(14).jpg"
          class="img-fluid">
          <h5 class="card-title">jackets</h5>
      </a>
    </figure>

  </div> -->












  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="./assets/pic1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
      </div>
      
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/pic1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
      </div>
     
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/pic1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is asupporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
      </div>
      
    </div>
  </div>
  
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="./assets/pic1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
    </div>
      
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/pic1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
     </div>
     
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/pic1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
     </div>
      
    </div>
  </div>



